#datatable tbody > tr:first-child td,
#datatable tbody > tr:first-child th {
  font-weight: bold;
  background: #d1ecf1;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}
table tr:nth-child(even) {
  background: #f8f8f8;
}
table th,
table td {
  padding: 0.625em;
  text-align: left;
}
table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-overflow {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}
